{% extends "authentication/base.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">JobFinder</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/chat/">Jobs</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>
    <h1 style="text-align: center;">Search for a job</h1>
    <form>
        <div>
            <input class="form-control" name="q">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}