{% extends "authentication/base.html" %}

{% block title %}
    Searched
{% endblock %}

{% block main %}
    <style>
        .job-box {
            border: 2px solid black;
            padding: 10%;
        }

        .desc {
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
    <div class="row">
        <div class="col-3">
            {% for job in jobs %}
                <div class="job-box" onclick='fetchJobInfo("{{ job.code }}")'>
                    <h5>{{ job.title }}</h5>
                    <b>${{ job.min_salary }} - ${{ job.max_salary }}{{ job.freq }}</b>
                    <p>{{ job.location }}</p>
                    <p class="desc">{{ job.description }}</p>
                </div>
                <br>
                <br>
            {% endfor %}
        </div>
        <div class="col-9" id="job-info"></div>
    </div>

    <script>
        fetchJobInfo = (job_id) => {
            fetch(`/jobs/${job_id}`)
            .then(response => response.text())
            .then(data => {
                document.getElementById("job-info").innerHTML = data;
            })
        }
    </script>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% for p in pagination %}
                <li class="page-item"><a class="page-link" href="http://127.0.0.1:8000/dashboard/?q={{ q }}&p={{ p }}">{{ p }}</a></li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}